APP_PORT=porta

POSTGRES_DB=nome-db-postgres
POSTGRES_USER=nome-usuario-postgres
POSTGRES_PASSWORD=senha-postgres
POSTGRES_PORT=porta-postgres

RABBITMQ_DEFAULT_USER=nome-usuario-rabbitmq
RABBITMQ_DEFAULT_PASS=senha-rabbitmq
RABBITMQ_PORT=porta-painel-rabbitmq
RABBITMQ_MANAGEMENT_PORT=porta-gerencimaneto-rabbitmq


SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/beautique
SPRING_DATASOURCE_USERNAME=nome
SPRING_DATASOURCE_PASSWORD=senha

SPRING_RABBITMQ_HOST=nome
SPRING_RABBITMQ_PORT=porta
SPRING_RABBITMQ_USERNAME=usuario
SPRING_RABBITMQ_PASSWORD=senha