APP_PORT=porta

MONGO_INITDB_DATABASE=database
MONGO_PORT=porta

RABBITMQ_DEFAULT_USER=usuario
RABBITMQ_DEFAULT_PASS=senha
RABBITMQ_PORT=porta
RABBITMQ_MANAGEMENT_PORT=porta

SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/beautique

SPRING_RABBITMQ_HOST=host
SPRING_RABBITMQ_PORT=porta
SPRING_RABBITMQ_USERNAME=usuario
SPRING_RABBITMQ_PASSWORD=senha