APP_PORT=porta

MONGO_PORT=porta
MONGO_INITDB_DATABASE=db

RABBITMQ_DEFAULT_USER=usuario
RABBITMQ_DEFAULT_PASS=senha
RABBITMQ_PORT=porta
RABBITMQ_MANAGEMENT_PORT=porta

SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/beautique